*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share style */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
    font-size: 45px;
       font-weight: 900;
}
.orange-color{
    color: #FD6E0A;
 
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}    
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;

}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.text-center{
    text-align: center;
}

/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    
    background-repeat: no-repeat;
    background-position: left 20px bottom 0px, right bottom;
    background-size: auto 90%, contain;
} 
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width:585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}
#about,#skills,#resume{
    padding-top: 130px;
}
#about .about-container{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
   
}
.about-info .info-card h4{
    font-size: 20px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
  
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;

}
.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;
}
.skill-card img{
    width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card P{
    font-size:16px;
    line-height: 28px;
    color: #757575;
}
#resume .resunme-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resunme-container hr{
    margin: 30px 0;
}
.resunme-container .section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card h3{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.resume-card .card-text{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    color:#181818;
    margin-bottom: 20px;

}
 .footer-container .social p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 20px;
}
.footer-container .icon img{
    margin-right: 24px;
}
.footer-container form input[type="text"], 
.footer-container form textarea{
    width: 461px;
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 5px;
    padding: 18px 30px;
    margin-bottom: 24px;
    color: #757575;
}

